<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Course</title>
</head>
<body>

<h2>Edit Course</h2>

<form action="/update-course" method="post">

    <input type="hidden" name="id" th:value="${course.id}">

    Course Name:
    <input type="text" name="courseName"
           th:value="${course.courseName}">
    <br><br>

    Trainer Name:
    <input type="text" name="trainerName"
           th:value="${course.trainerName}">
    <br><br>

    Duration:
    <input type="text" name="duration"
           th:value="${course.duration}">
    <br><br>

    <button type="submit">Update</button>

</form>

<br>

<a href="/courses">Back</a>

<input type="text" name="videpUrl" th:value="${course.videoUrl}"><br><br>

</body>
</html>