<!DOCTYPE html>
<html>
<head>
    <title>Student Registration</title>
</head>
<body>

<h2>Student Registration</h2>

<form action="/register" method="post">
    Name: <input type="text" name="name"><br><br>
    Email: <input type="email" name="email"><br><br>
    Mobile: <input type="text" name="mobile"><br><br>
    Password: <input type="password" name="password"><br><br>
    Department:<input type="text" name="department"><br><br>

    <button type="submit">Register</button>
</form>

</body>
</html>